<template name="funkoEdit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="collection">Collection</label>
      <div class="controls">
          <input name="collection" id="collection" type="text" value="{{collection}}" placeholder="Collection" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="number">Number</label>
      <div class="controls">
          <input name="number" id="number" type="text" value="{{number}}" placeholder="Number" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="Name your funko" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete funko</a>
  </form>
</template>
