<template name="funkoNew">
  <form class="main form page">
    <div class="form-group {{errorClass 'collection'}}">
      <label class="control-label" for="collection">Collection</label>
      <div class="controls">
          <input name="collection" id="collection" type="text" value="" placeholder="Collection" class="form-control"/>
          <span class="help-block">{{errorMessage 'collection'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'number'}}">
      <label class="control-label" for="number">Number</label>
      <div class="controls">
          <input name="number" id="number" type="number" value="" placeholder="Number" class="form-control"/>
          <span class="help-block">{{errorMessage 'number'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
